
.btn {

    cursor: pointer;
    border-radius: 4px;
    padding: 0.75rem 0.5rem;

    &.--btn-primary {
        background-color: var(--primary);
    }

    &.--btn-gold {
        background-image: linear-gradient(135deg, #a58b50 9%, #ddc48b 124%);
    }

    &.--btn-reset {
        margin: 0;
        padding: 0;
    }

    &.--btn-ghost {
        border: 2px solid var(--primary);
        background-color: transparent;
    }

    &.--btn-transparent {
        background-color: transparent;
    }

    &.--btn-primary-alt {

        color: var(--primary);
        background-color: #e0f9ff;

    }

    &.--btn-pills {
        
        color: #7d8ea3;
        border-radius: 12px;
        padding: 0.4rem 0.95rem;
        background-color: transparent;

        &.--active {
            color: #00bdec;
            background-color: #e0f9ff;
        }
    }


}


.page-stake {


    .--compound {

        .btn {
            width: 86px;
            font-size: 0.75rem;
        }

    }

}

.page-feed {

    .__post-creator {

        .__types {

            button {
                min-width: 100px;
                max-width: 100px;
                background-color: var(--white);

            }

            img {
                height: 1rem;
            }

        }

        .__deploy {

            button {
                min-width: 120px;
            }

        }

    }

    .__post {

        .__shares {

            .__options {

                button {

                    min-width: 80px;

                }

                .--btn-primary-alt {

                    color: var(--primary);
                    background-color: #e0f9ff;

                }

            }

        }

        .__controls {

            .--btn-controls {

                color: #7d8ea3;
                margin: 0 1rem;
                background-color: var(--white);

                &:first-child { margin-left: 0; }

                &:last-child { margin-right: 0; }

                .__icon {

                    img { max-height: 1rem; }

                }

            }

        }

    }

    @media screen and (max-width: 586px) {
        
        .__post {

            .__footer {
    
                .__options {
    
                    button {
    
                        min-width: 95%;
    
                    }
    
                    .--btn-primary-alt {
    
                        color: var(--primary);
                        background-color: #e0f9ff;
    
                    }
    
                }
    
            }
    
        }

    }

}

.modal {

    .--connect {

        .--btn-meta {

            background-color: #edf2f7;
            justify-content: space-between;

            img { height: 32px; }

        }

    }

}


html[data-theme='dark'] {

    .btn {

        &.--btn-pills {
        
            color: #51557e;
    
            &.--active {
                color: var(--primary);
                background-color: #252843;
            }
        }

    }

    .page-feed {

        .__post-creator {
    
            .__types {
    
                button {
                    background-color: #1b1d31;
                }
    
            }
    
        }

        .__post {

            .__footer {
    
                .__options {

                    .--btn-primary-alt {

                        background-color: #252843;
                        border: 2px solid #252843;

                    }
    
                }
    
            }
    
        }
    
    }

    .modal {

        .--connect {
    
            .--btn-meta {
                
                background-color: #282a45;
    
            }
    
        }
    
    }

}