/*
 * @version 1.1.0
 * @description Estilos del componente Header
*/

header {

    padding: $paddingNormal 0;
    background-color: var(--white);
    border-bottom: solid 0.5px #e5e5e5;

    .left {

        .__menu-hamburger { 

            display: none;

        }

        .__logo {

            .--mobile { display: none; }

            img {
                width: 138px;
            }

        }

        .__section-title {

            margin-left: $marginLarge;

        }

    }

    .right {

        justify-content: flex-end;

        .__nav-item {

            margin: 0 $marginMedium;

            .__icon {

                &.--woop img {
                    height: 0.93rem;
                }

                &.--sun img {
                    width: 1rem;
                }

                &.--moon img {
                    width: 0.9rem;
                }

                &.--lang img {
                    width: 0.93rem;
                }

            }

            .__divider {
                p { color: #d0d0d0; }
                margin: 0 $marginNormal;
            }

            .__theme, .__lang {
                margin-left: $marginSemi;
            }

        }


    }


    @media screen and (max-width: 768px) {

        .left {

            .__logo {
                img {
                    max-height: 32px;
                }
            }

            .__section-title {
                display: none;
            }

        }

        .right {

            .__nav-item {

                flex-direction: column;
                margin: 0 $marginNormal;

                &.--badge-primary {
                    p { font-size: 0.7rem !important; }
                    padding: 0.5rem;
                }

                &.--badge-mini {
                    p { font-size: 0.7rem !important; }
                    padding: 0.25rem 0.5rem;
                    background-color: #eaeaea;
                }

            }

            .__theme {
                display: none;
            }

        }

    }

    @media screen and (max-width: 586px){

        .left {

            .__menu-hamburger { 

                display: flex;

            }

            .__logo {

                position: relative;

                .--desktop { display: none; }
                .--mobile { display: flex; }
    
                img {
                    width: 138px;
                }

            }
    
        }
        
        .right {

            .__nav-item {

                margin: 0 0.25rem;
                flex-direction: column;
                align-items: flex-start;

                .__icon {

                    &.--woop {

                        img {
                            height: 0.9rem;
                            margin-left: 0.5rem;
                        }

                    }
    
                }

            }

            .__theme {
                display: none;
            }

            .__lang {
                display: none;
            }

        }

    }

}


html[data-theme='dark'] {

    header {

        background-color: #1b1d31;
        border-bottom: 0;

    }

}