/*
 * @version 1.1.0
 * @description Estilos de la página de /
*/

.page-stake {

    background-color: #fafafa;

    .main {

        min-height: 80vh;
        padding: $paddingLarge 0;

        .--stake-title-mobile {
            display: none;
        }

        .cards-container {
            justify-content: center;
        }

    }


    @media screen and (max-width: 768px) {

        .main {

            padding-top: 0;

            h2 {
                font-size: $fontTriple;
            }

            .--stake-title-mobile {
                display: flex;
            }

        }

    }


    @media (prefers-color-scheme: dark) {

        

    }


}


html[data-theme='dark'] {

    .page-stake {

        background-color: #171727;

    }

}