/*
 * @version 1.1.0
 * @description Estilos de la página de /profile
*/

.page-profile {

    background-color: #f5f7fa;

    .main {

        min-height: 80vh;
        padding: $paddingLarge 0;

        .__left-asides {

            width: 20%;
            margin-right: $marginMedium;

            @import '../components/asides/asides';

        }

        .feed {

            width: 60%;

            .__amount {

                padding: 0 $paddingMedium;

                img { height: 2rem; }

            }

            .__type {

                padding: 0 $paddingMedium;
                padding-bottom: 0.75rem;
                justify-content: space-between;

            }

            @import '../components/posts/post';
            @import '../components/profile/profile';

        }

        .__right-asides {

            width: 20%;
            margin-left: $marginMedium;

            @import '../components/asides/asides';

        }


    }


    @media screen and (max-width: 1024px) {

        .main {

            .--to-column-mobile { flex-direction: column; }

            .__left-asides {

                order: 2;
                width: 100%;
                margin-right: 0;
    
                @import '../components/asides/asides';
    
            }

            .feed {

                order: 1;
                width: 100%;

            }

            .__right-asides {

                order: 3;
                width: 100%;
                margin-left: 0;
    
                @import '../components/asides/asides';
    
            }

        }

    }


    @media screen and (max-width: 768px) {

        .main {

            .__left-asides {

                order: 2;
                width: 100%;
                margin-right: 0;
    
                @import '../components/asides/asides';
    
            }

            .feed {

                order: 1;
                width: 100%;

            }

            .__right-asides {

                order: 3;
                width: 100%;
                margin-left: 0;
    
                @import '../components/asides/asides';
    
            }

        }

    }

}


html[data-theme='dark'] {

    .page-profile {

        background-color: #171727;

        .main {


            .__left-asides {

                @import '../components/asides/asides-dark';

            }
    
            .feed {

                @import '../components/profile/profile-dark';
    
                .__post-creator {
    
                    background-color: #1b1d31;
    
                }
    
                .__divider {
    
                    border: solid 0.5px #2d3055;
    
                }
    
                .__post {

                    background-color: #1b1d31;
                
                    &:first-child {
                        border: solid 0.5px transparent;
                    }
                
                }
    
            }

            .__right-asides {

                @import '../components/asides/asides-dark';

            }

        }

    }

}
