.badge {

    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
    background-color: #e8e8e8;

}

html[data-theme='dark'] {

    .badge {
        background-color: #51557e;
        border-bottom: 0;
    }

}