.__post {

    position: relative;
    border-radius: 5px;
    margin-bottom: $marginLarge;
    padding: 0.8rem $paddingMedium;
    background-color: var(--white);
    border: solid 0.5px transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);

    &:first-child {
        border: solid 0.5px #00bdec;
    }

    .__header {

        .__author {

            align-items: center;

            .__verified {

                img { max-height: 1rem; }

            }

            .__follow {

                button { background-color: transparent; }

            }

        }

        .__date {

            p { color: #7d8ea3; }

        }

        .__icon {

            img {
                height: 1rem;
            }

        }

    }

    .__boosted {

        top: 0;
        right: 1rem;
        position: absolute;

        img { max-height: 2rem; }

    }

    .__text {
        
        p {
            padding-right: $paddingMedium;
        }

    }

    .__image {

        img { border-radius: 12px; }

    }

    .__divider {
        width: 100%;
        height: 0.5px;
        background-color: #d0dae6;
    }

    .__shares {

        justify-content: space-between;

        .__contacts {

            padding-top: 0.25rem;

            .__image {

                img { max-height: 1.5rem; }

            }

            .__shares-count {

                p { color: #7d8ea3; }

            }

        }

    }

    .__controls {

        span { color: #7d8ea3; }

        .btn-container {

            justify-content: space-between;

        }

        .__progress {

            height: 2px;
            width: 150px;
            position: relative;
            border-radius: 2.5px;
            background-color: #e9edf2;

            .__progress-bar {

                top: 0;
                left: 0;
                height: 2px;
                width: 80px;
                position: absolute;
                background-color: var(--primary);

            }

        }

    }

    @media screen and (max-width: 768px) {
        
        .__footer {

            justify-content: space-between;
    
            .__author {

                margin-bottom: $marginMedium;

            }

        }

    }

    @media screen and (max-width: 586px) {
        
        .__footer {

            justify-content: space-between;
    
            .__author {

                margin-bottom: $marginMedium;

            }

            .__options {

                .btn-container {
                    width: 100%;
                }

            }

        }

    }

}