.profile_head {

    background-color: #1b1d31;

    .__head {

        .__location {

            p { color: #a1a5d5; }

        }

    }

    .__footer {

        .__info {

            .__value { color: #ffffff; }
    
            .__description { color: #ffffff; }

        }

    }

}