.__card {

    position: relative;
    border-radius: 0.5rem;
    justify-content: center;
    background-color: var(--white);
    padding: $paddingSemi 5rem 1.25rem;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.04);

    .__icon {

        img { height: 1.5rem; }

    }

    .--square {
        width: 40px;
    }

    &.--large {

        padding: $paddingSemi 2rem $paddingSemi 1.75rem;

        .__icon {

            img { height: 1.25rem; }
    
        }

        .__left {
            min-width: 240px;
        }

        .badge {

            top: 0.75rem;
            right: 1.75rem;
            position: absolute;
    
        }

    }

    &.--small {

        min-width: 240px;
        max-width: 240px;
        margin: 0 $marginNormal;
        padding: 1rem 0 1.25rem;

        .__icon {

            img { height: 1.25rem; }

        }

    }


    .badge {

        top: 0.75rem;
        right: 0.75rem;
        position: absolute;

    }

    @media screen and (max-width: 1366px){
        
        &.--small {

            min-width: 220px;
            max-width: 220px;
            margin: 0.5rem;
            padding: 1rem 0 1.25rem;
    
            .__icon {
    
                img { height: 1.25rem; }
    
            }
    
        }

    }

    @media screen and (max-width: 1024px){
        
        &.--small {

            min-width: 220px;
            max-width: 220px;
            margin: 0.5rem;
            padding: 1rem 0 1.25rem;
    
            .__icon {
    
                img { height: 1.25rem; }
    
            }
    
        }

    }

    @media screen and (max-width: 768px) {

        &.--large {

            padding: $paddingSemi 2rem $paddingSemi 1.75rem;
    
            .__icon {
    
                img { height: 1.25rem; }
        
            }
    
            .__left {
                min-width: 180px;
            }
    
            .badge {
    
                top: 0.75rem;
                right: 1.75rem;
                position: absolute;
        
            }
    
        }

    }

    @media screen and (max-width: 586px){

        width: 100%;
        margin: $marginNormal 0;
        padding: $paddingSemi 0 1.25rem;

        .__icon {
    
            img { height: 2rem; }

        }

        &.--large {

            flex-direction: column;
            padding: $paddingSemi 0;
    
            .__icon {
    
                img { height: 2rem; }
        
            }
    
            .__left {

                min-width: 100%;
                align-items: center;
                justify-content: center;

                h3 { 

                    margin-bottom: 0.5rem;
                    font-size: $fontLarge; 

                }

                h4 { margin-bottom: 2rem; } 

            }

            .__right {

                align-items: center;
                justify-content: center;

            }
    
            .badge {
    
                top: 0.75rem;
                right: 1.75rem;
                position: absolute;
        
            }
    
        }
        
        &.--small {

            max-width: 100%;
            min-width: 100%;

            h3 {
                font-size: $fontSemi;
            }
    
            .__icon {
    
                img { height: 2rem; }
    
            }
    
        }

    }

}


html[data-theme='dark'] {

    .__card {
        background-color: #1b1d31;
    }

}