/*
 * @version 1.1.0
 * @description Estilos del componente Footer
*/

footer {

    padding: $paddingLarge 0;
    background-color: var(--white);

    .left {

        width: 65%;

        a {

            color: #9a9a9a;
            padding: 0 $paddingSemi;
    
        }

    }

    .right {

        p { color: #9a9a9a; }

    }


    @media screen and (max-width: 1200px) {
        
        .left {

            width: 65%;
    
            a {
    
                padding: 0 $paddingMedium;
        
            }
    
        }

    }

    @media screen and (max-width: 1024px) {
        
        .left {

            width: 100%;
    
            a {
                text-align: center;
                padding: $paddingNormal 0;
            }
    
        }

        .right {

            width: 100%;

            p {
                text-align: center;
                padding: 0 $paddingLarge;
            }
        }

    }

}

html[data-theme='dark'] {

    footer {

        background-color: #1b1d31;

    }

}